<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>reveal.js – The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Cacheando fuera de Django</h1>
          <p>
            <small>Por <a href="http://twitter.com/gnarvaja">@gnarvaja</a> de <a href="http://radiocut.fm">http://radiocut.fm</a></small>
          </p>
          <p>
            <a href="http://radiocut.fm">
              <img width="96" height="96" data-src="radio_cut_96.png" alt="RadioCut">
            </a>
          </p>
        </section>

        <!--section>
          <h2>Hoja de ruta</h2>
          <ol>
            <li class="fragment">Cacheando</li>
            <li class="fragment">Niveles de cache</li>
            <li class="fragment">Archivos <i>estáticos</i></li>
            <li class="fragment">Páginas y APIs</li>
          </ol>
        </section-->

        <section>
          <h2>Cacheando</h2>
          <ul>
            <li>
              <p>¿Por qué cacheamos?</p>
              <ul>
                <li class="fragment">Costo de cálculo</li>
                <li class="fragment">Ancho de banda</li>
                <li class="fragment">Cercanía</li>
              </ul>
            </li>
            <li class="fragment">Invalidar (o descachear)</li>
          </ul>
        </section>
        <section>
          <h2>Niveles de caché</h2>
          <ol>
            <li class="fragment">Browser</li>
            <li class="fragment">CDN</li>
            <li class="fragment">NGINX / Apache</li>
            <li class="fragment">Django</li>
          </ol>
        </section>

        <section>
          <h2>Cache en Django</h2>
          <pre><code class="python" data-trim contenteditable style="font-size: 18px;">
from django.views.decorators.cache import cache_page

@cache_page(60 * 15)
def my_view(request):
    ...
          </code></pre>
          <pre><code class="python" data-trim contenteditable style="font-size: 18px;">
{% load cache %}
{% cache 500 sidebar request.user.username %}
    .. sidebar for logged in user ..
{% endcache %}
          </code></pre>
          <pre><code class="python" data-trim contenteditable style="font-size: 18px;">
>>> from django.core.cache import cache
>>> cache.set('my_key', 'hello, world!', 30)
>>> cache.get('my_key')
'hello, world!'
          </code></pre>
        </section>

        <section>
          <h2>Cabeceras de caché</h2>
          <pre><code style="font-size: 18px;">cache-control: public, max-age=300
vary: Cookie
</code></pre>
          <pre><code class="python" data-trim contenteditable style="font-size: 18px;">
from django.views.decorators.cache import cache_control
from django.views.decorators.cache import patch_cache_control
from django.views.decorators.vary import vary_on_cookie

@vary_on_cookie
def view_que_depende_del_user(request):
    if request.user.is_anonymous():
        ...
        patch_cache_control(response, public=True)
    else:
        ...
        patch_cache_control(response, private=True)

@cache_control(public=True)
def view_igual_para_todos(request):
    ...

          </code></pre>
        </section>
        <section>
          <h2>Caché NGINX</h2>
          <pre><code data-trim contenteditable style="font-size: 17px;">
proxy_cache_path /var/tmp/my-cache levels=1:2 keys_zone=my_cache:10m
                 max_size=10g inactive=60m;
server {
    location /media  {
        alias /home/user/myapp/media;
        expires 30d;
    }
    location /static {
        alias /home/user/myapp/local_static;
        expires 90d;
    }
    location / {
        proxy_cache radiocut_staging_cache;
        proxy_cache_key $proxy_host$request_uri$cookie_sessionid;
        ...
    }
          </code></pre>
        </section>

        <section>
          <section>
            <h2>Content Delivery Network (CDN)</h2>
            <ul>
              <li>Servicios de red global de proxies (con caché, obvio)</li>
              <li>Más cercano al usuario (14ms vs 169ms)</li>
              <li>Cloudflare (free), MaxCDN, y muchos más</li>
            </ul>
          </section>
          <section>
            <h2>CDN - radiocut.fm - HTML</h2>
            <img height="600px" src="cdn-html.png" alt="RadioCut">
          </section>
          <section>
            <h2>CDN - radiocut.fm - Estáticos</h2>
            <img height="600px" src="cdn-static.png" alt="RadioCut">
          </section>
        </section>

        <section>
          <h2>Niveles de caché</h2>
          <table>
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Browser</th>
                <th>CDN</th>
                <th>NGINX</th>
                <th>Django</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Distancia al usuario</td>
                <td><div style="background-color: #2F0">&nbsp;</div></td>
                <td><div style="background-color: #FFFC00">&nbsp;</div></td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
              </tr>
              <tr>
                <td>Velocidad</td>
                <td><div style="background-color: #2F0">&nbsp;</div></td>
                <td><div style="background-color: #FFFC00">&nbsp;</div></td>
                <td><div style="background-color: #f90">&nbsp;</div></td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
              </tr>
              <tr>
                <td>Costo</td>
                <td><div style="background-color: #2F0">&nbsp;</div></td>
                <td><div style="background-color: #FFFC00">&nbsp;</div></td>
                <td><div style="background-color: #f90">&nbsp;</div></td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
              </tr>
              <tr>
                <td>Flexibilidad</td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
                <td><div style="background-color: #f90">&nbsp;</div></td>
                <td><div style="background-color: #FFFC00">&nbsp;</div></td>
                <td><div style="background-color: #2F0">&nbsp;</div></td>
              </tr>
            </tbody>
          </table>
        </section>

        <section>
          <h2>Archivos estáticos</h2>
          <ul>
            <li class="fragment">Empezar por acá!</li>
            <li class="fragment">Cachear en el browser y CDN</li>
            <li class="fragment">Reduce tráfico, pero más importante, reduce tiempo para el usuario</li>
            <li class="fragment">¿Cómo invalidar?</li>
          </ul>
        </section>

        <section>
          <h2>Django Gears</h2>
          <ul>
            <li class="fragment">Sobre CSS y JS</li>
            <li class="fragment">Consolida y minifica</li>
            <li class="fragment">Versiona</li>
          </ul>
        </section>
        <section>
          <h2>Django Gears</h2>
          <pre><code data-trim contenteditable style="font-size: 16px;">
{% load gears %}
{% css_asset_tag "css/app.css" %}
{% js_asset_tag "js/app.js" %}
          </code></pre>
          <pre><code data-trim contenteditable style="font-size: 16px;">
/* Dependencies:
 *= require ../vendor/jquery
 *= require ../vendor/jquery-ui
...
 *= require cutapp
 *= require adsapp
*/
          </code></pre>
          <pre><code data-trim contenteditable style="font-size: 16px;">
<link rel="stylesheet" href="//static.radiocut.com.ar/css/app.822d55e6189cea04f96e495e5881f168809f7ea3.css">
          </code></pre>
        </section>
        <section>
          <h2>Cookie less domain</h2>
          <ul>
            <li>Uso para los estáticos un dominio <i>cookieless</i></li>
            <li>Mi dominio de cookies es radiocut.fm, uso static.radiocut.com.ar</li>
            <li>Reduce 1.7kb de upload por cada recurso (33 en home)</li>
          </ul>
        </section>
        <section>
          <h2>Cacheando Páginas</h2>
          <img class="fragment" height="600px" src="maldito-gnarvaja.png" alt="RadioCut">
        </section>
        <section>
          <h2>Cacheando Páginas</h2>
          <ul>
            <li class="fragment">En pocos casos se pueden cachear páginas completas</li>
            <li class="fragment">Si se pueden cachear partes, pero DENTRO de Django</li>
            <li class="fragment">Alternativa: cargar en javascript partes de la página</li>
            <li class="fragment">Cachear por API</li>
          </ul>
        </section>

        <section>
          <h2>¿Preguntas?</h2>
        </section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
