<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Cacheando fuera de Django</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/solarized.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Cacheando fuera de Django</h1>
          <p>
            <small>Por <a href="http://twitter.com/gnarvaja">@gnarvaja</a> de <a href="http://radiocut.fm">http://radiocut.fm</a></small>
          </p>
          <p>
            <a href="http://radiocut.fm">
              <img width="96" height="96" data-src="radio_cut_96.png" alt="RadioCut">
            </a>
          </p>
        </section>

        <section>
          <h2>RadioCut</h2>
          <ul>
            <li><i>"donde la radio se hace viral, on-demand y social"</i></li>
            <li>1.7M visitas por mes</li>
            <li>1.2M horas escuchadas por mes</li>
            <li>Usamos: Django, GAE, Flask, Google Cloud</li>
            <li>Sobre mí: pythonista desde 2004 / "empresario" o "co-founder"</li>
          </ul>
        </section>
        <section>
          <h2>Definición</h2>
          <blockquote cite="https://en.wikipedia.org/wiki/Cache_(computing)" style="width:95%">
              “a cache is a hardware or software component <strong>that stores data so future requests for that data can be served faster</strong>; the data stored in a cache might be the result of an earlier computation, or the duplicate of data stored elsewhere. A <strong>cache hit</strong> occurs when the requested data can be found in a cache, while a <strong>cache miss</strong> occurs when it cannot. <br/> Cache hits are faster than recomputing a result or reading from a slower data store; thus, the more requests can be served from the cache, the faster the system performs.”
          </blockquote>
        </section>

        <section data-background="maxresdefault.png">
        </section>
        <section>
          <h2>Cacheando</h2>
          <ul>
            <li>
              <p>¿Por qué cacheamos?</p>
              <ul>
                <li class="fragment">Costo de cálculo</li>
                <li class="fragment">Ancho de banda</li>
                <li class="fragment">Cercanía (latencia)</li>
                <li class="fragment">Escalabilidad</li>
              </ul>
            </li>
            <li class="fragment">Invalidar (o descachear)</li>
          </ul>
        </section>
        <section>
          <h2>Niveles de caché</h2>
          <ol>
            <li class="fragment">Browser</li>
            <li class="fragment">CDN</li>
            <li class="fragment">NGINX / Apache</li>
            <li class="fragment">Django (memcache)</li>
          </ol>
        </section>

        <section>
          <h2>Cache en Django</h2>
          <pre style="width: 95%"><code class="python" data-trim contenteditable style="font-size: 24px;">
from django.views.decorators.cache import cache_page

@cache_page(60 * 15)
def my_view(request):
    ...
          </code></pre>
          <pre style="width: 95%"><code class="python" data-trim contenteditable style="font-size: 24px;">
{% load cache %}
{% cache 500 sidebar request.user.username %}
    .. sidebar for logged in user ..
{% endcache %}
          </code></pre>
          <pre style="width: 95%"><code class="python" data-trim contenteditable style="font-size: 24px;">
>>> from django.core.cache import cache
>>> cache.set('my_key', 'hello, world!', 30)
>>> cache.get('my_key')
'hello, world!'
          </code></pre>
        </section>

        <section>
          <h2>Cabeceras de caché</h2>
          <pre style="width: 95%"><code style="font-size: 24px;">cache-control: public, max-age=300
vary: Cookie
</code></pre>
          <pre style="width: 95%"><code class="python" data-trim contenteditable style="font-size: 24px;">
from django.views.decorators.cache import cache_control
from django.views.decorators.cache import patch_cache_control
from django.views.decorators.vary import vary_on_cookie

@vary_on_cookie
def view_que_depende_del_user(request):
    if request.user.is_anonymous():
        ...
        patch_cache_control(response, public=True)
    else:
        ...
        patch_cache_control(response, private=True)

@cache_control(public=True)
def view_igual_para_todos(request):
    ...

          </code></pre>
        </section>
        <section>
          <h2>Caché NGINX</h2>
          <pre><code data-trim contenteditable style="font-size: 17px;">
proxy_cache_path /var/tmp/my-cache levels=1:2 keys_zone=my_cache:10m
                 max_size=10g inactive=60m;
server {
    location /media  {
        alias /home/user/myapp/media;
        expires 30d;
    }
    location /static {
        alias /home/user/myapp/local_static;
        expires 90d;
    }
    location / {
        proxy_cache radiocut_staging_cache;
        proxy_cache_key $proxy_host$request_uri$cookie_sessionid;
        ...
    }
          </code></pre>
        </section>

        <section>
          <section>
            <h2>Content Delivery Network (CDN)</h2>
            <ul>
              <li>Servicios de red global de proxies (con caché, obvio)</li>
              <li>Más cercano al usuario (14ms vs 169ms)</li>
              <li>Cloudflare (free), MaxCDN, y muchos más</li>
            </ul>
          </section>
          <section>
            <h2>CDN - radiocut.fm - HTML</h2>
            <img height="550px" src="performance-graph-radiocut.fm.png" alt="RadioCut">
          </section>
          <section>
            <h2>CDN - radiocut.fm - HTML</h2>
            <img max-height="550px" src="performance-radiocut.fm.png" alt="RadioCut">
          </section>
          <section>
            <h2>CDN - radiocut.fm - Estáticos</h2>
            <img height="500px" src="performance-radiocut.com.ar-previo.png" alt="RadioCut">
          </section>
          <section>
            <h2>CDN - radiocut.fm - Estáticos</h2>
            <img height="550px" src="performance-radiocut.com.ar-post.png" alt="RadioCut">
          </section>
          <section>
            <h2>CDN - radiocut.fm - Estáticos</h2>
            <img height="500px" src="performance-numbers-radiocut.com.ar-post.png" alt="RadioCut">
          </section>
        </section>

        <section>
          <h2>Niveles de caché</h2>
          <table>
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Browser</th>
                <th>CDN</th>
                <th>NGINX</th>
                <th>Django</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Distancia al usuario</td>
                <td><div style="background-color: #2F0">&nbsp;</div></td>
                <td><div style="background-color: #FFFC00">&nbsp;</div></td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
              </tr>
              <tr>
                <td>Velocidad</td>
                <td><div style="background-color: #2F0">&nbsp;</div></td>
                <td><div style="background-color: #FFFC00">&nbsp;</div></td>
                <td><div style="background-color: #f90">&nbsp;</div></td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
              </tr>
              <tr>
                <td>Costo</td>
                <td><div style="background-color: #2F0">&nbsp;</div></td>
                <td><div style="background-color: #FFFC00">&nbsp;</div></td>
                <td><div style="background-color: #f90">&nbsp;</div></td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
              </tr>
              <tr>
                <td>Flexibilidad</td>
                <td><div style="background-color: #f00">&nbsp;</div></td>
                <td><div style="background-color: #f90">&nbsp;</div></td>
                <td><div style="background-color: #FFFC00">&nbsp;</div></td>
                <td><div style="background-color: #2F0">&nbsp;</div></td>
              </tr>
            </tbody>
          </table>
        </section>

        <section>
          <h2>Archivos estáticos</h2>
          <ul>
            <li class="fragment">Empezar por acá!</li>
            <li class="fragment">Cachear en el browser y CDN</li>
            <li class="fragment">Reduce tráfico, pero más importante, reduce tiempo para el usuario</li>
            <li class="fragment">¿Cómo invalidar?</li>
          </ul>
        </section>

        <section>
          <h2>Django Gears</h2>
          <ul>
            <li class="fragment">Sobre CSS y JS</li>
            <li class="fragment">Consolida y minifica</li>
            <li class="fragment">Versiona</li>
          </ul>
        </section>
        <section>
          <h2>Django Gears</h2>
          <pre style="width: 95%"><code data-trim contenteditable style="font-size: 22px;">
{% load gears %}
{% css_asset_tag "css/app.css" %}
{% js_asset_tag "js/app.js" %}
          </code></pre>
          <pre style="width: 95%"><code data-trim contenteditable style="font-size: 22px;">
/* Dependencies:
 *= require ../vendor/jquery
 *= require ../vendor/jquery-ui
...
 *= require cutapp
 *= require adsapp
*/
          </code></pre>
          <pre style="width: 95%"><code data-trim contenteditable style="font-size: 22px;">
<link rel="stylesheet" href="//static.radiocut.com.ar/css/app.822d55e6189cea04f96e495e5881f168809f7ea3.css">
          </code></pre>
        </section>
        <section>
          <h2>Cookie less domain</h2>
          <ul>
            <li>Uso para los estáticos un dominio <i>cookieless</i></li>
            <li>Mi dominio de cookies es radiocut.fm, uso static.radiocut.com.ar</li>
            <li>Reduce 1.7kb de upload por cada recurso (33 en home)</li>
          </ul>
        </section>
        <section>
          <h2>Hosted libraries</h2>
          <ul>
            <li>https://developers.google.com/speed/libraries/</li>
            <li>Es probable que esté cacheado en el browser</li>
            <li>Evita descargas grandes ante cambio de código</li>
          </ul>
        </section>
        <section>
          <h2>Cacheando Páginas</h2>
          <img class="fragment" height="600px" src="maldito-gnarvaja.png" alt="RadioCut">
        </section>
        <section>
          <h2>Cacheando Páginas</h2>
          <ul>
            <li class="fragment">En pocos casos se pueden cachear páginas completas</li>
            <li class="fragment">Si se pueden cachear partes, pero DENTRO de Django</li>
            <li class="fragment">Alternativa: cargar en javascript partes de la página</li>
            <li class="fragment">API Calls</li>
            <li class="fragment">Single page application</li>
          </ul>
        </section>
        <section>
          <h2>Imágenes</h2>
          <ul>
            <li class="fragment">easy_thumbnails vs imageserver (TM)</li>
            <li class="fragment">https://bitbucket.org/gnarvaja/imageserver</li>
            <li class="fragment">Microservicio: con caché afuera</li>
          </ul>
        </section>

        <section>
          <h2>Imágenes</h2>
          <pre style="width: 95%"><code data-trim contenteditable style="font-size: 22px;">@app.route("/get/thumb/&lt;int:width&gt;/&lt;int:height&gt;/&lt;path:filename&gt;")
def get_thumbnail(width, height, filename):
		try:
        key, ext = get_key_ext(filename)
    except InvalidFilenameError, e:
        return abort(400, str(e))
    img, cache_control = get_image(filename)
    img.thumbnail((width, height), Image.ANTIALIAS)
    output = StringIO()
    img.save(output, FORMATS[ext.lower()], quality=95)
    ret = Response(output.getvalue(), content_type=MIME_TYPES[ext.lower()])
    if cache_control:
        ret.headers["Cache-Control"] = cache_control
    return ret
          </code></pre>
        </section>

        <section>
          <h2>¿Preguntas?</h2>
        </section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });
    </script>

  </body>
</html>
